img {
    height: 200px;
    margin: 10px;
}

.colored-header {
    background-color: #e3ebee;
    margin-bottom: 30px;
}

.circle {
    width:40px;
    height:30px;
    background: #eee;
    padding: 0 11px 0 11px;
    border-radius: 100%;
}

.step-detail {
    margin-left: 45px;
}

#face img {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  height: 230px;
  width: 215px;
  margin-bottom: 20px;
}

footer {
	margin: 25px;
}
